<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Index</title>
  </head>

  <body>
    <h1>Home</h1>
    <form action="/add_location" method="post">
      <h3>Select the input type:</h3>
      <input
        type="radio"
        id="latlng"
        name="input_type"
        value="latlng"
        checked
      />
      <label for="latlng">Latitude and Longitude:</label>
      <br />
      <input type="radio" id="address" name="input_type" value="address" />
      <label for="address">Address:</label>
      <br /><br />

      <div id="latlng_fields">
        <h3>Give Name and Lat and Long</h3>
        <label for="name">Name:</label>
        <input type="string" id="name" name="name" /><br /><br />

        <label for="lat">Lattitude:</label>
        <input type="float" id="lat" name="lat" /><br /><br />

        <label for="lng">Longitude:</label>
        <input type="float" id="lng" name="lng" /><br /><br />
      </div>

      <div id="address_fields" style="display: none">
        <h3>Give Human readable Address</h3>
        <label for="address">Address:</label>
        <input type="string" id="address" name="address" /><br /><br />
        <label for="zipcode">Zipcode:</label>
        <input type="string" id="zipcode" name="zipcode" /><br /><br />
      </div>

      <input type="submit" value="Add Data" />
    </form>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="flashed">
        {{ messages[-1] }}
    </div>
    {% endif %} {% endwith %}

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Latitude</th>
          <th>Longitude</th>
        </tr>
      </thead>
      <tbody>
        {% for name, location in locations.items() %}
        <tr>
          <td>{{ name }}</td>
          <td>{{ location['lat'] }}</td>
          <td>{{ location['lng'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>Remove Location</h2>
    <form action="/remove_location" method="post">
      <label for="name">Name:</label>
      <select id="remove" name="remove">
        {% for name, location in locations.items() %}
        <option value="{{ name }}">{{ name }}</option>
        {% endfor %}
      </select>

      <input type="submit" value="remove_data" />
    </form>

    <h2>Extra Information</h2>
    <form action="/map" , method="post">
      <label for="APP_ID">APP ID:</label>
      <input type="string" id="APP_ID" name="APP_ID" /><br /><br />

      <label for="API_KEY">API Key:</label>
      <input type="string" id="API_KEY" name="API_KEY" /><br /><br />

      <label for="travelTime">Travel Time (In Minutes):</label>
      <input type="float" id="travelTime" name="travelTime" /><br /><br />

      <label for="modeTransport">Mode of Transportation</label>
      <select id="transportSelection" name="modeTransport">
        <option value="driving">Driving</option>
        <option value="walking">Walking</option>
        <option value="cycling">Cycling</option>
        <option value="eBike">E-Bikes</option>
      </select>
      <div id="avgspeed" style="display: none">
        <label for="avgSpeed">Average Speed Mph:</label>
        <select id="avgSpeedSelector" name="avgSpeed">
        </select>
        <br /><br />
      </div>

      <h2>Trolley Stations:</h2>
      <input type="checkbox" name="trolley" value="blue" />Blue Line<br />
      <input type="checkbox" name="trolley" value="green" />Green Line<br />
      <input type="checkbox" name="trolley" value="orange" />Orange Line<br />

      <input type="submit" value="submit" />
    </form>
  </body>
</html>
