<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <script
      src="https://kit.fontawesome.com/a7a1647c0e.js"
      crossorigin="anonymous"
    ></script>
    <title>Index</title>
  </head>

  <body>
    <button id="sidebar-button" style="left: 375px; background-color: transparent;"><i class="fa-solid fa-bars"></i></button>
    <div class="sidebar" style="left:0px; width:400px">
      <button class="dropdown-button">
        <div class="header">API</div>
        <i class="fa-solid fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <div class="sidebar-text">
          <p>
            To use this app, you need to create an account at
            <a href="https://account.traveltime.com/">TravelTime</a> then add
            the APP ID and API KEY below.
          </p>
        </div>
        <!-- Form for getting APP ID and API KEY -->
        <button id="API-info-button-open" class="open-popup">
          Add APP ID and API KEY
        </button>
      </div>

      <button class="dropdown-button">
        <div class="header">Isochrones</div>
        <i class="fa-solid fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <div class="sidebar-text">
          <p>
            Here you can add locations to the list by either entering the
            Lattitude and Longitude or giving an Address.
          </p>
        </div>
        <form
          action="/add_location"
          method="POST"
          class="signupForm"
          name="signupform"
        >
          <div class="wrapper">
            <input
              type="radio"
              name="input_type"
              id="option-1"
              value="latlng"
              checked
            />
            <input
              type="radio"
              name="input_type"
              id="option-2"
              value="address"
            />
            <input
              type="radio"
              name="input_type"
              id="option-3"
              value="trolley"
            />
            <label for="option-1" class="option option-1">
              <div class="dot"></div>
              <span>Lat & Lng</span>
            </label>
            <label for="option-2" class="option option-2">
              <div class="dot"></div>
              <span>Address</span>
            </label>
            <label for="option-3" class="option option-3">
              <div class="dot"></div>
              <span>Trolleys</span>
            </label>
          </div>

          <div id="latlng_fields">
            <h2>Using Lattitude and Longitude</h2>
            <ul class="noBullet">
              <li>
                <label for="name"></label>
                <input
                  type="string"
                  class="inputFields"
                  id="name"
                  name="name"
                  placeholder="Name"
                />
              </li>
              <li>
                <label for="lat"></label>
                <input
                  type="string"
                  class="inputFields"
                  id="lat"
                  name="lat"
                  placeholder="Lattitude"
                />
              </li>
              <li>
                <label for="lng"></label>
                <input
                  type="string"
                  class="inputFields"
                  id="lng"
                  name="lng"
                  placeholder="Longitude"
                  value=""
                />
              </li>
            </ul>
          </div>
          <div id="address_fields" style="display: none">
            <h2>Address</h2>
            <ul class="noBullet">
              <li>
                <label for="address"></label>
                <input
                  type="string"
                  class="inputFields"
                  id="address"
                  name="address"
                  placeholder="Address"
                  value=""
                />
              </li>
              <li>
                <label for="zipcode"></label>
                <input
                  type="string"
                  class="inputFields"
                  id="zipcode"
                  name="zipcode"
                  placeholder="Zipcode"
                  value=""
                />
              </li>
            </ul>
          </div>

          <div id="trolley_fields" style="display: none">
            <div class="checkbox-wrapper-16">
              <label class="checkbox-wrapper">
                <input type="checkbox" class="checkbox-input" name="trolleys"
                value="blue" {% if 'blue' in selected_checkboxes %}checked{%
                endif %} />
                <span class="checkbox-tile">
                  <span class="checkbox-icon">
                    <img
                      src="{{ url_for('static', filename='images/blueline.png') }}"
                      alt="blueline"
                      width="60"
                      ,
                      height="40"
                    />
                  </span>
                  <span class="checkbox-label">Blue Line</span>
                </span>
              </label>
            </div>
            <div class="checkbox-wrapper-16">
              <label class="checkbox-wrapper">
                <input type="checkbox" class="checkbox-input" name="trolleys"
                value="green" {% if 'green' in selected_checkboxes %}checked{%
                endif %} />
                <span class="checkbox-tile">
                  <span class="checkbox-icon">
                    <img
                      src="{{ url_for('static', filename='images/greenline.png') }}"
                      alt="greenline"
                      width="40"
                      ,
                      height="40"
                    />
                  </span>
                  <span class="checkbox-label">Green Line</span>
                </span>
              </label>
            </div>
            <div class="checkbox-wrapper-16">
              <label class="checkbox-wrapper">
                <input type="checkbox" class="checkbox-input" name="trolleys"
                value="orange" {% if 'orange' in selected_checkboxes %}checked{%
                endif %} />
                <span class="checkbox-tile">
                  <span class="checkbox-icon">
                    <img
                      src="{{ url_for('static', filename='images/orangeline.png') }}"
                      alt="orangeline"
                      width="40"
                      ,
                      height="40"
                    />
                  </span>
                  <span class="checkbox-label">Orange Line</span>
                </span>
              </label>
            </div>
          </div>

          <input
            type="submit"
            id="join-btn"
            name="join"
            alt="Join"
            value="Add Locations"
          />
        </form>
      </div>

      <button class="dropdown-button">
        <div class="header">Locations</div>
        <i class="fa-solid fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <div class="table-container">
          <table class="location-display">
            <thead>
              <tr>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
              </tr>
            </thead>
            <tbody>
              {% for name, location in locations.items() %}
              <tr>
                <td>{{ name }}</td>
                <td>{{ location['lat'] }}</td>
                <td>{{ location['lng'] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <h5>Remove Locations</h5>

        <form action="/remove_location" method="post">
          <div class="remove-location-box" style="width: 200px; height: 50px">
            <select id="remove" name="remove">
              {% for name, location in locations.items() %}
              <option value="{{ name }}">{{ name }}</option>
              {% endfor %}
            </select>
          </div>
          <input
            type="submit"
            id="join-btn"
            name="join"
            alt="Join"
            value="Remove Location"
          />
        </form>
      </div>

      <button class="dropdown-button">
        <div class="header">Final Steps</div>
        <i class="fa-solid fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <form action="" , method="post" class="signupForm">
          <div id="travelTime_field">
            <h2>Input Travel Time</h2>
            <ul class="noBullet">
              <li>
                <input
                  type="string"
                  class="inputFields"
                  id="travelTime"
                  name="travelTime"
                  placeholder="Travel Time(Mins)"
                />
              </li>
            </ul>
          </div>

          <div id="transport_mode">
            <div class="checkbox-wrapper-16">
              <label class="checkbox-wrapper">
                <input type="checkbox" class="checkbox-input" name="modeTransport" value="bike" />
                <span class="checkbox-tile transport">
                  <span class="checkbox-icon">
                    <i
                      class="fa-solid fa-bicycle fa-2xl"
                      style="margin-bottom: 20px"
                    ></i>
                  </span>
                  <span class="checkbox-label">Bike</span>
                </span>
              </label>
            </div>
            <div class="checkbox-wrapper-16">
              <label class="checkbox-wrapper">
                <input type="checkbox" class="checkbox-input" name="modeTransport" value="ebike" id="checkbox-ebike"/>
                <span class="checkbox-tile transport">
                  <span class="checkbox-icon">
                    <i
                      class="fa-solid fa-person-biking fa-2xl"
                      style="margin-bottom: 20px"
                    ></i>
                  </span>
                  <span class="checkbox-label">E-Bike</span>
                </span>
              </label>
            </div>
            <div class="checkbox-wrapper-16">
              <label class="checkbox-wrapper">
                <input type="checkbox" class="checkbox-input" name="modeTransport" value="walk"/>
                <span class="checkbox-tile transport">
                  <span class="checkbox-icon">
                    <i
                      class="fa-solid fa-person-walking fa-2xl"
                      style="margin-bottom: 20px"
                    ></i>
                  </span>
                  <span class="checkbox-label">Walking</span>
                </span>
              </label>
            </div>
            <div class="checkbox-wrapper-16">
              <label class="checkbox-wrapper">
                <input type="checkbox" class="checkbox-input" name="modeTransport" value="drive"/>
                <span class="checkbox-tile transport">
                  <span class="checkbox-icon">
                    <i
                      class="fa-solid fa-car fa-2xl"
                      style="margin-bottom: 20px"
                    ></i>
                  </span>
                  <span class="checkbox-label">Car</span>
                </span>
              </label>
            </div>
          </div>
          <div id="avgspeed" class="remove-location-box" style="width: 250px; height: 50px; display: none">
            <label for="avgSpeed">E-Bike Average Speed (Mph):</label>
            <select id="avgSpeedSelector" name="avgSpeed"></select>
            <br /><br />
          </div>

          <input
            type="submit"
            id="join-btn"
            name="join"
            alt="Join"
            value="Map Isochrones"
          />
        </form>
      </div>
      <button class="dropdown-button" id="population-reached">
        <div class="header">Population Reached</div>
        <i class="fa-solid fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <div class="table-container">
          <table class="location-display">
            <thead>
              <tr>
                <th>Transportation Mode</th>
                <th>Population Reached</th>
              </tr>
            </thead>
            <tbody>
              {% for transport, population in popData.items() %}
              <tr>
                <td>{{ transport }}</td>
                <td>{{ population }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      

      <!-- Reset Button -->
      <form action="/reset" method="post">
        <input
          type="submit"
          id="join-btn"
          name="join"
          alt="Join"
          value="Reset All"
        />
      </form>


      <!-- Flash Messages -->
      <br><br>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="flashed">{{ messages[-1] }}</div>
      {% endif %} {% endwith %}

    </div>
    <div id="API-info" class="center-popup">
      <form action="/APPID_APIKEY" method="post" id="form-API-info">
        <h3>Enter APP ID and API Key</h3>
        <label for="APP_ID">APP ID:</label>
        <input type="string" id="APP_ID" name="APP_ID" /><br /><br />
        <label for="API_KEY">API Key:</label>
        <input type="string" id="API_KEY" name="API_KEY" /><br /><br />
        <input type="submit" value="Submit" />
      </form>
      <button id="API-info-button-close" class="close-popup">Close</button>
    </div>
    <!-- <div class="reaches">
      <p>The number of people that the area reaches is: {{ reach }}</p>
    </div> -->
    <div id="map">{{ map|safe }}</div>
  </body>
</html>
