<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    <h1>Home</h1>
    <form action="/map" method="post">
        <label for="name">Name:</label>
        <input type="string" id="name" name="name"><br><br>

        <label for="lat">Lattitude:</label>
        <input type="float" id="lat" name="lat"><br><br>

        <label for="lng">Longitude:</label>
        <input type="float" id="lng" name="lng"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>